<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.ActivityMapper">


    <insert id="insert">
        insert into activity(name, `desc`)
            VALUE (#{activity.name}, #{activity.desc});
    </insert>

    <update id="update">
        update activity
        set name       = #{activity.name},
            `desc`     = #{activity.desc},
            uploadTime = current_timestamp
        where id = #{activity.id}
    </update>
    <delete id="delete">
        delete
        from activity
        where id = #{id}
    </delete>

    <select id="selectAllActivities" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Activity">
        select *
        from activity
        where id != 0
    </select>
    <select id="selectOne" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Activity">
        select *
        from activity
        where id = #{id}
    </select>

</mapper>