<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.BookMapper">
    <insert id="insertBook" useGeneratedKeys="true" keyProperty="id">
        insert ignore into book(name, author, picPath, `desc`)
            value (#{book.name}, #{book.author}, #{book.picPath}, #{book.desc})
    </insert>

    <update id="updateBook">
        update book
        set name    = #{book.name},
            author  = #{book.author},
            picPath = #{book.picPath},
            `desc`  = #{book.desc}
        where id = #{book.id}
    </update>


    <update id="updatePoster">
        update book
        set posterUploaded = true
        where id = #{bookId}
    </update>

    <delete id="deleteOne">
        delete
        from book
        where id = #{id}
    </delete>

    <select id="selectAllBooks" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Book">
        select *
        from book
    </select>

    <select id="selectById" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Book">
        select *
        from book
        where id = #{id}
        limit 1
    </select>

    <select id="search" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Book">
        select *
        from book
        where name like #{keyword}
    </select>

</mapper>