<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.CommentMapper">

    <insert id="insertIntoBookAudio">
        insert into comment_book_audio(bookAudioId, content, openid)
            value (#{comment.bookAudioId}, #{comment.content}, #{comment.openid});
    </insert>

    <insert id="insertIntoShortAudio">
        insert into comment_short_audio(shortAudioId, content, openid)
            value (#{comment.bookAudioId}, #{comment.content}, #{comment.openid});
    </insert>

    <update id="updateShortApprove">
        update comment_short_audio
        set checked  = true,
            approved = #{approved}
        where id = #{id}
        limit 1;
    </update>

    <update id="updateBookApprove">
        update comment_book_audio
        set checked  = true,
            approved = #{approved}
        where id = #{id}
        limit 1;
    </update>

    <select id="selectByBook" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Comment">
        select cba.id,
               cba.content,
               count(tcba.openid)   as thumb,
               ifnull((select 1
                       from thumb_comment_book_audio t
                       where t.openid = #{openid}
                         and t.commentBookAudioId = cba.id
                       limit 1), 0) as thumbed,
               cba.commentTime,
               u.gender,
               u.avatarUrl,
               u.name
        from comment_book_audio cba
                 left join user u on cba.openid = u.openid
                 left join thumb_comment_book_audio tcba on cba.id = tcba.commentBookAudioId
        where bookAudioId = #{id}
        group by cba.id;
    </select>

    <select id="selectByShort" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Comment">
        select csa.id,
               csa.content,
               count(tcsa.openid) as thumb,
               ifnull((select 1
                       from thumb_comment_short_audio t
                       where t.openid = #{openid}
                         and t.commentShortAudioId = csa.id
                       limit 1),
                      0)          as thumbed,
               csa.commentTime,
               u.gender,
               u.avatarUrl,
               u.name
        from comment_short_audio csa
                 left join user u on csa.openid = u.openid
                 left join thumb_comment_short_audio tcsa on csa.id = tcsa.commentShortAudioId
        where shortAudioId = #{id}
        group by csa.id;
    </select>

    <select id="selectAllBookComment" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Comment">
        select cba.id,
               cba.content,
               cba.commentTime,
               cba.approved,
               cba.checked,
               u.gender,
               u.avatarUrl,
               u.name as name,
               b.name as parentName
        from comment_book_audio cba
                 left join user u on cba.openid = u.openid
                 left join thumb_comment_book_audio tcba on cba.id = tcba.commentBookAudioId
                 left join book_audio ba on cba.bookAudioId = ba.id
                 left join book b on ba.bookId = b.id
    </select>

    <select id="selectAllShortComment" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.Comment">
        select csa.id,
               csa.content,
               csa.commentTime,
               csa.approved,
               csa.checked,
               u.gender,
               u.avatarUrl,
               u.name,
               sa.actName as parentName
        from comment_short_audio csa
                 left join user u on csa.openid = u.openid
                 left join thumb_comment_short_audio tcsa on csa.id = tcsa.commentShortAudioId
                 left join short_audio sa on csa.shortAudioId = sa.id
    </select>

</mapper>