<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.FavouriteMapper">

    <insert id="insertFBA">
        insert ignore into favourite_book_audio(openid, bookAudioId) value (#{openid}, #{bookAudioId});
    </insert>

    <insert id="insertFSA">
        insert ignore into favourite_short_audio(openid, shortAudioId) value (#{openid}, #{shortAudioId});
    </insert>

    <delete id="deleteFBA">
        delete
        from favourite_book_audio
        where openid = #{openid}
          and bookAudioId = #{bookAudioId}
    </delete>
    <delete id="deleteFSA">
        delete
        from favourite_short_audio
        where openid = #{openid}
          and shortAudioId = #{shortAudioId}
    </delete>

    <select id="selectFBA" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.FavouriteBookAudio">
        select fba.openid,
               fba.bookAudioId,
               ba.name              as name,
               b.name               as bookName,
               ba.bookId            as bookId,
               ifnull((select 1
                       from thumb_book_audio t
                       where t.openid = #{openid}
                         and t.bookAudioId = fba.bookAudioId
                       limit 1), 0) as thumbed,
               count(tba.openid)    as thumb,
               1                    as favourite
        from favourite_book_audio fba
                 join book_audio ba on fba.bookAudioId = ba.id
                 join book b on ba.bookId = b.id
                 left join thumb_book_audio tba on fba.bookAudioId = tba.bookAudioId
        where fba.openid = #{openid}
        group by tba.bookAudioId;
    </select>

    <select id="selectFSA" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.FavouriteShortAudio">
        select fsa.openid,
               fsa.shortAudioId,
               actId,
               actName,
               content,
               fileName,
               sa.title,
               u.name,
               u.majorAndClass,
               u.avatarUrl,
               ifnull((select 1
                       from thumb_short_audio t
                       where t.openid = #{openid}
                         and t.shortAudioId = fsa.shortAudioId
                       limit 1), 0) as thumbed,
               count(tsa.openid)    as thumb,
               1                    as favourite
        from favourite_short_audio fsa
                 join short_audio sa on fsa.shortAudioId = sa.id
                 join user u on fsa.openid = u.openid
                 left join thumb_short_audio tsa on sa.id = tsa.shortAudioId
        where fsa.openid = #{openid}
          and approved = true
        group by fsa.shortAudioId
    </select>
</mapper>