<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.ShortAudioMapper">

    <insert id="insert">
        insert into short_audio(content, actId, actName, openid, fileName)
            value (#{audio.content}, #{audio.actId}, #{audio.actName}, #{audio.openid}, #{audio.fileName});
    </insert>

    <update id="updateApprove">
        update short_audio
        set approved = #{approved},
            checked  = true,
            reason   = #{reason}
        where id = #{id};
    </update>

    <update id="incAmount">
        update short_audio
        set amount = amount + '1'
        where id = #{id};
    </update>

    <select id="selectAll" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.ShortAudio">
        select sa.id,
               sa.actid,
               sa.actname,
               sa.content,
               sa.openid,
               sa.filename,
               sa.approved,
               sa.checked,
               sa.uploadTime,
               sa.amount,
               sa.reason,
               u.name,
               u.majorAndClass,
               u.qq,
               u.phoneNum
        from short_audio sa
                 left join user u on sa.openid = u.openid;
    </select>

    <select id="selectAllApproved" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.ShortAudio">
        select sa.id,
               sa.actid,
               sa.actname,
               sa.content,
               sa.openid,
               sa.filename,
               sa.uploadTime,
               count(tsa.openid)    as thumb,
               sa.amount,
               u.name,
               u.majorAndClass,
               u.qq,
               u.phoneNum,
               ifnull((select 1
                       from thumb_short_audio t
                       where t.openid = #{openid}
                         and t.shortAudioId = sa.id
                       limit 1), 0) as thumbed,
               ifnull((select 1
                       from favourite_short_audio t
                       where t.openid = #{openid}
                         and t.shortAudioId = sa.id
                       limit 1), 0) as favourite
        from short_audio sa
                 left join user u on sa.openid = u.openid
                 left join thumb_short_audio tsa on sa.id = tsa.shortAudioId
        where approved = true
        group by sa.id;
    </select>
</mapper>