<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzau.feidian.hzauaudiobook.dao.mapper.UserMapper">

    <insert id="insert">
        insert ignore into user(openid, avatarUrl, gender, graduated)
            value (#{user.openid}, #{user.avatarUrl}, #{user.gender}, #{user.graduated});
    </insert>

    <update id="update">
        update user
        set name          = #{user.name},
            majorAndClass = #{user.majorAndClass},
            qq            = #{user.qq},
            phoneNum      = #{user.phoneNum},
            graduated     = #{user.graduated}
        where openid = #{user.openid};
    </update>

    <select id="selectByOpenId" resultType="com.hzau.feidian.hzauaudiobook.dao.entity.User">
        select *
        from user
        where openid = #{openid}
        limit 1;
    </select>

</mapper>